[project]
	description = Test git-gerrit integration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/burbonov
[access "refs/for/refs/*"]
	read = group user/burbonov
	push = group user/burbonov
	label-Code-Review = -2..+2 group user/burbonov
	label-Verified = -1..+1 group user/burbonov
	rebase = group user/burbonov
	removeReviewer = group user/burbonov
	submit = group user/burbonov
[access "refs/heads/*"]
	read = group user/burbonov
	create = group user/burbonov
	push = +force group user/burbonov
	pushMerge = group user/burbonov
[access "refs/tags/*"]
	push = +force group user/burbonov
	pushTag = group user/burbonov
	pushSignedTag = group user/burbonov
